spring-integration-loginsight/src/main/resources/org/springframework/integration/loginsight/config/xml/spring-integration-loginsight-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	xmlns="http://www.springframework.org/schema/integration/loginsight"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:tool="http://www.springframework.org/schema/tool"
	xmlns:integration="http://www.springframework.org/schema/integration"
	targetNamespace="http://www.springframework.org/schema/integration/loginsight"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	<xsd:import namespace="http://www.springframework.org/schema/tool" />
	<xsd:import namespace="http://www.springframework.org/schema/integration"
		schemaLocation="http://www.springframework.org/schema/integration/spring-integration.xsd" />

	<xsd:annotation>
		<xsd:documentation><![CDATA[
			Defines the configuration elements for the Spring Integration
			LogInight Adapter.
		]]></xsd:documentation>
	</xsd:annotation>

	<xsd:element name="server">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
Defines a LogInsight server information.
				]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="host" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
Indicates the LogInsight server name or IP address
			]]></xsd:documentation>
					<xsd:appinfo>
						<tool:annotation kind="direct">
							<tool:expected-type type="java.lang.String" />
						</tool:annotation>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="port" use="optional" default="443">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
Indicates the LogInsight server port
			]]></xsd:documentation>
					<xsd:appinfo>
						<tool:annotation kind="direct">
							<tool:expected-type type="java.lang.Integer" />
						</tool:annotation>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="ingestion-port" use="optional" default="9543">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
Indicates the LogInsight ingestion port
			]]></xsd:documentation>
					<xsd:appinfo>
						<tool:annotation kind="direct">
							<tool:expected-type type="java.lang.Integer" />
						</tool:annotation>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="scheme" type="xsd:string" use="optional" default="https">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
Indicates the LogInsight server scheme
			]]></xsd:documentation>
					<xsd:appinfo>
						<tool:annotation kind="direct">
							<tool:expected-type type="java.lang.String" />
						</tool:annotation>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="username" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
Indicates the userName to login LogInsight server
			]]></xsd:documentation>
					<xsd:appinfo>
						<tool:annotation kind="direct">
							<tool:expected-type type="java.lang.String" />
						</tool:annotation>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="password" type="xsd:string"  use="required">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
Indicates the password to login LogInsight server
			]]></xsd:documentation>
					<xsd:appinfo>
						<tool:annotation kind="direct">
							<tool:expected-type type="java.lang.String" />
						</tool:annotation>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="id" type="xsd:string" use="required" />
			<xsd:attribute name="agent-id" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
Indicates the LogInsight agentId (UUID format)
			]]></xsd:documentation>
					<xsd:appinfo>
						<tool:annotation kind="direct">
							<tool:expected-type type="java.lang.Integer" />
						</tool:annotation>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="inbound-channel-adapter">
		<xsd:annotation>
			<xsd:documentation>
				The definition for the Spring Integration LogInsight
				Inbound Channel Adapter.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="integration:poller" minOccurs="0"
					maxOccurs="1" />
			</xsd:sequence>
			<xsd:attributeGroup ref="coreLogInsightAttributes" />
			<xsd:attribute name="channel" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo>
						<tool:annotation kind="ref">
							<tool:expected-type
								type="org.springframework.integration.core.MessageChannel" />
						</tool:annotation>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="query-type" type="xsd:string"
				use="required">
				<xsd:annotation>
					<xsd:documentation>
						Query type: event query, event group (aggregate)
						query
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="timeout" type="xsd:string"
				use="optional" default="30000">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
						Allows you to specify how long this inbound-channel-adapter
						will wait for the message (containing the retrieved entities)
						to be sent successfully to the message channel, before throwing
						an exception.

						Keep in mind that when sending to a DirectChannel, the
						invocation will occur in the sender's thread so the failing
						of the send operation may be caused by other components
						further downstream. By default the Inbound Channel Adapter
						will wait indefinitely. The value is specified in milliseconds.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="limit" type="xsd:string" use="optional"
				default="100">
				<xsd:annotation>
					<xsd:documentation>
						The maximum number of events/results to be
						returned
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>

			<xsd:attribute name="content-pack-fields"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						A comma-separated list of the content pack
						fields to return
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="bin-width" type="xsd:string"
				use="optional" default="5000">
				<xsd:annotation>
					<xsd:documentation>
						Fixed bin width. Valid only for aggregate
						queries.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="bins" type="xsd:string"
				use="optional">
				<xsd:annotation>
					<xsd:documentation>
						Comma separated bin widths. Valid only for
						aggregate queries.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="earliest-time" type="xsd:string"
				use="optional" default="0">
				<xsd:annotation>
					<xsd:documentation>
						Time modifier for the start of the time window.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="blocking" type="xsd:boolean" use="optional" default="false"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="indexWriterType">
		<xsd:attribute name="index" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						Index to write to.
					</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="tcpWriterType">
		<xsd:attribute name="port" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>
						The port corresponding to a tcp Input
					</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:element name="outbound-channel-adapter">
		<xsd:annotation>
			<xsd:documentation>
				Defines an outbound Channel Adapter.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="integration:poller" minOccurs="0"
					maxOccurs="1" />
			</xsd:sequence>
			<xsd:attributeGroup ref="coreLogInsightAttributes" />
			<xsd:attribute name="channel" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo>
						<xsd:documentation>
							Channel from which messages will be output.
							When a message is sent to this channel it
							will cause the query to be executed.
						</xsd:documentation>
						<tool:annotation kind="ref">
							<tool:expected-type
								type="org.springframework.integration.MessageChannel" />
						</tool:annotation>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="order">
				<xsd:annotation>
					<xsd:documentation>
						Specifies the order for invocation when this
						endpoint is connected as a subscriber to a
						SubscribableChannel.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>


			<xsd:attribute name="blocking" type="xsd:boolean"
				use="optional" default="false">
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:attributeGroup name="coreLogInsightAttributes">
		<xsd:attribute name="id" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					Identifies the underlying Spring bean definition,
					which is an
					instance of either 'EventDrivenConsumer' or
					'PollingConsumer',
					depending on whether the component's input
					channel is a
					'SubscribableChannel' or 'PollableChannel'.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="auto-startup" default="true" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					Flag to indicate that the component should start
					automatically
					on startup (default true).
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:union memberTypes="xsd:boolean xsd:string" />
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="template-ref" use="required"
			type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>
					LogInsight Server Bean Name
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:attributeGroup>


    <xsd:element name="template">
    	<xsd:annotation>
			<xsd:documentation><![CDATA[
LogInsight server reference bean.
				]]></xsd:documentation>
		</xsd:annotation>
	    <xsd:complexType>
			<xsd:attribute name="server" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
Indicates the LogInsight server
			]]></xsd:documentation>
					<xsd:appinfo>
						<tool:annotation kind="direct">
							<tool:expected-type type="java.lang.String" />
						</tool:annotation>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="id" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						Identifies the underlying Spring bean definition,
						which is an
						instance of either 'EventDrivenConsumer' or
						'PollingConsumer',
						depending on whether the component's input
						channel is a
						'SubscribableChannel' or 'PollableChannel'.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
    </xsd:element>
</xsd:schema>
